.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  height: 80px;
  width: 95%;
  margin-left: 35px;
  position: fixed;
  box-sizing: border-box;
  border-bottom: 4px solid rgba(255, 255, 255, 0.4);
  z-index: 100;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo-text {
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.logo img {
  width: 40px;
  height: 38px;
  background-color: #EEEDED;
  border-radius: 50%;
}

.navbar-right ul {
  display: flex;
  align-items: center;
  margin-right: 80px;
}

.navbar-right ul > li {
  list-style: none;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 3px solid transparent;
  padding: 28px 30px;
}

.navbar-right ul > li:hover {
  border-bottom: 2px solid white;
}

.navbar-right > ul > li > a {
  text-decoration: none;
  color: white;
}

.search svg {
  width: 30px;
  height: 35px;
  fill: white;
  stroke: white;
  stroke-width: 1px;
}
